<h1>My playlists</h1>
<% if current_user %>

<% if @my_playlists && !@my_playlists.empty? %>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% @my_playlists.each do |playlist| %>
    <%= show_playlist(playlist) %>
    <% end %>
  </tbody>
</table>
<% else %>
<h2>You currently have no playlists</h2>
<% end %>
<% else %>
<h2>you need to log in to see your playlists</h2>
<% end %>
<br>

<h1>Listing playlists</h1>
<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% @playlists.each do |playlist| %>
    <%= show_playlist(playlist) %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Playlist', new_playlist_path %>
